@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 10vh;
  padding: 0 2% 0 2%;
  font-size: 27px;
  display: flex;
  justify-content: space-between;
}

main {
  margin-top: -5%;
}

hr {
  height: 2px;
  width: 80vw;
  border-width: 0;
  background-color: #80808050;
  margin: auto;
}

.white-text {
  color: white;
}

.grey-text {
  color: grey;
}

.black-text {
  color: black;
}

.logo-block {
  width: 20vw;
  display: flex;
  align-items: center;
}

.logo-block img {
  height: 5vh;
  width: fit-content;
  margin: 5%;
}

.first-screen {
  height: 90vh;
  background-image: url(/img/header_bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 49px;
  padding-top: 15vh;
}

.first-screen a {
  font-size: 18px;
  padding: 3vh 0 10vh 0;
  text-decoration: none;
}

.phone-block {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10%;
}

.phone-block img {
  margin: 2%;
}

.first-screen-phone {
  height: 100%;
}

.first-screen-icon {
  height: fit-content;
  width: 12vw;
}

.features {
  height: auto;
  padding: 15% 0 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.features-col {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 21px;
}

.feat-col-up {
  margin-top: -15%;
}

.features-col span {
  font-size: 30px;
  margin: 3% 0 3% 0;
}

.features-col img {
  width: 4vw;
}

.feat-col-down {
  margin: -10%;
}

.hoaw-block {
  height: 70vh;
  padding: 6% 4% 0 6%;
  display: flex;
}

.hoaw-block img {
  height: 100%;
  width: fit-content;
}

.hoaw-block-content {
  padding-left: 5%;
  font-size: 27px;
}

.hoaw-block-content * {
  padding: 1%;
}

.hoaw-block-span {
  font-size: 40px;
}

.hoaw-block-post-span {
  font-size: 35px;
}

.hoaw-block-span, .hoaw-block-post-span {
  padding: 2vh 0 2vh 0;
}

.hoaw-block-post-content {
  width: 100%;
  display: flex;
  font-size: 24px;
}

.hoaw-block-post-content img {
  height: fit-content;
  width: 7%;
  margin: auto;
  padding: 0;
}

.feedback-block {
  height: 55vh;
  background-image: url(/img/feedback_bg.png);
  background-position: center;
  background-size: cover;
}

.last-block {
  height: auto;
  padding: 3% 0 3% 0;
  font-size: 45px;
  text-align: center;
}

.last-block img {
  width: 95vw;
  height: fit-content;
  margin-top: 3%;
}

footer {
  height: 55vh;
}
