@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 10vh;
  padding: 0 2% 0 2%;
  font-size: 27px;
  display: flex;
  justify-content: space-between;
}

main {
  margin-top: -5%;
}

hr {
  height: 2px;
  width: 80vw;
  border-width: 0;
  background-color: #80808050;
  margin: auto;
}

.white-text {
  color: white;
}

.grey-text {
  color: grey;
}

.black-text {
  color: black;
}

.logo-block {
  width: 20vw;
  display: flex;
  align-items: center;
}

.logo-block img {
  height: 5vh;
  width: fit-content;
  margin: 5%;
}

.first-screen {
  height: 90vh;
  background-image: url(./img/header_bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 49px;
  padding-top: 15vh;
}

.first-screen a {
  font-size: 18px;
  padding: 3vh 0 10vh 0;
  text-decoration: none;
}

.phone-block {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10%;
}

.phone-block img {
  margin: 2%;
}

.first-screen-phone {
  height: 100%;
}

.first-screen-icon {
  height: fit-content;
  width: 12vw;
}

.features {
  height: auto;
  padding: 15% 0 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.features-col {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 21px;
}

.feat-col-up {
  margin-top: -15%;
}

.features-col span {
  font-size: 30px;
  margin: 3% 0 3% 0;
}

.features-col img {
  width: 4vw;
}

.feat-col-down {
  margin: -10%;
}

.hoaw-block {
  height: 70vh;
  padding: 6% 4% 0 6%;
  display: flex;
}

.hoaw-block img {
  height: 100%;
  width: fit-content;
}

.hoaw-block-content {
  padding-left: 5%;
  font-size: 27px;
}

.hoaw-block-content * {
  padding: 1%;
}

.hoaw-block-span {
  font-size: 40px;
}

.hoaw-block-post-span {
  font-size: 35px;
}

.hoaw-block-span, .hoaw-block-post-span {
  padding: 2vh 0 2vh 0;
}

.hoaw-block-post-content {
  width: 100%;
  display: flex;
  font-size: 24px;
}

.hoaw-block-post-content img {
  height: fit-content;
  width: 7%;
  margin: auto;
  padding: 0;
}

.feedback-block {
  height: 55vh;
  background-image: url(./img/feedback_bg.png);
  background-position: center;
  background-size: cover;
  padding: 5% 15%;
  font-size: 42px;
  text-align: center;
}

.feedback-block-content {
  height: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.feedback-block img {
  height: 15vh;
  width: fit-content;
}

.feedback-block-feedback {
  text-align: left;
  font-size: 21px;
  padding-left: 5%;
}

.feedback-block-name {
  font-size: 19px;
  color: whitesmoke;
}

.last-block {
  height: auto;
  padding: 3% 0 3% 0;
  font-size: 45px;
  text-align: center;
}

.last-block img {
  width: 95vw;
  height: fit-content;
  margin-top: 3%;
}

footer {
  height: auto;
  text-align: center;
  padding: 3% 7%;
}

.footer-content {
  text-align: left;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-contact span {
  padding: 1vh 2.5vw;
}

.footer-contact-row {
  display: flex;
  font-size: 18px;
}

.footer-contact-row img {
  height: fit-content;
  width: 1.5vw;
  margin: 1vh 0 1vh 0;
}

.footer-contact-row p {
  margin: 1vh 1vw 1vh 1vw;
}

.footer-icons {
  width: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-icons a {
  height: 50%;
  width: 35%;
}

.footer-icons a img {
  width: 100%;
}

@media only screen and ( max-width : 480px ) {
  .features {
    flex-direction: column;
    padding-top: 30%;
  }

  .features-col img {
    width: 10vw;
  }

  .features-col {
    width: 100%;
    padding-top: 10%;
  }

  .feat-col-up {
    margin-top: 0%;
  }

  .feedback-block {
    height: auto;
  }

  .hoaw-block {
    height: auto;
    flex-direction: column-reverse;
  }

  .feedback-block-content {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-contact-row img {
    width: 8vw;
  }

  .footer-icons {
    width: 75%;
    margin: auto;
  }
}
